<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
</head>
<body>
<h1>All Movies</h1>
<p>
<form action="/api/movies/new">
    <input type="text" name="name">
    <input type="number" name="length">
</form>
</form>
</p>
<ul>
    <li th:each="movie : ${movies}">
        <p>
            <span th:text="${movie.name}" /> @
            <span th:text="${movie.length}" /> minutes
            <a th:href="'/movies/' + ${movie.id} + '/edit'">
                edit
            </a>
        </p>
    </li>
</ul>
</body>
</html>